.navbar { 
    background: #058ad3;
}

body, div, span, ul, li, table, tr, th, td, h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

.p0{
    padding: 0px !important;
}
.p1{
    padding: 1px !important;
}
.p5{
    padding: 5px !important;
}
.p10{
    padding: 10px !important;
}
.p15{
    padding: 15px !important;
}
.p20{
    padding: 20px !important;
}
.p25{
    padding: 25px !important;
}
.p30{
    padding: 30px !important;
}
.p35{
    padding: 35px !important;
}
.p40{
    padding: 40px !important;
}
.p45{
    padding: 45px !important;
}
.p50{
    padding: 50px !important;
}

.fs15{
    font-size: 15px !important;
}

.full-width_{
    float: left;
    width: 100%;
}

.no-skin .sidebar {
    background-color: #05609d;
    border-style: solid;
    border-color: #05609d;
    border-width: 0 0 0 0;
}

.breadcrumb2{  
    padding: 0px;
    background: #05609d;
    border-bottom: 0px solid #E5E5E5;
}
 


.breadcrumb2 li{
    width: 100%;
    padding: 0px;
}

.sidebar-collapse{
    width: 40px;
    float: right;
    text-align: center;
    background: #03436e;
    color: #6c92ab;
    transition: .2s ease-in-out;
    font-size: 20px;
    height: 41px;
}


.sidebar-collapse:hover{
    background: #058ad3;
}


.no-skin .nav-list>li>a {
    background-color: #05609d;
    color: #fff;
    transition: .2s ease-in-out;
}
.no-skin .nav-list>li:hover>a {
    background-color: #02395e;
    color: #fff;
}

.no-skin .nav-list>li {
    border-color: #077bc8;
    text-transform: uppercase;
    font-weight: 600;
}

.no-skin .nav-list .open>a, .no-skin .nav-list .open>a:focus, .no-skin .nav-list .open>a:hover {
    background-color: #02395e;
    color: #fff;
}
.no-skin .nav-list>li .submenu {
    background-color: #02395e;
    border-color: #077bc8;
}

.no-skin .nav-list>li .submenu>li>a {
    border-top-color: #05609d;
    background-color: #03436e;
    color: #fff;
    transition: .2s ease-in-out;
}

.no-skin .nav-list>li .submenu>li>a:hover {
    color: #fff;
    background-color: #03436e;
}

.no-skin .nav-list>li.open>a {
    background-color: #02395e;
    color: #fff;
}

.nav-list>li .submenu>li>a {
    border-top-style: solid;
}

.no-skin .nav-list>li>.submenu:before, .no-skin .nav-list>li>.submenu>li:before{

}

.nav-list>li>.submenu:before{ 
    display: none;
}

.nav-list>li>.submenu>li:before{
    display: none;
}

.no-skin .nav-list>li>a:focus {
    background-color: #02395e;
    color: #fff;
}
.nav-list>li:before {
    display: none;
    position: absolute;
    top: -1px;
    left: 99% !important;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629CC9;
}


.nav-list>li.open:before{
    display: none; 
}
.nav-list>li:hover:before {
    display: none;
}

.navbar-brand b{
    position: absolute;
    font-size: 32px;
}
.navbar-brand small{
    position: absolute;
    font-size: 10px;
    bottom: -2px;
    left: 40px;
}


.nav-list>li>a>.menu-icon {
    display: inline-block;
    min-width: 30px;
    margin-right: 2px;
    vertical-align: sub;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.ace-nav>li{
    border: 0px !important;
    background: transparent;
    color: #fff;
}
.ace-nav>li.light-blue>a, .ace-nav>li>a{
    background: transparent;
}
.ace-nav>li.light-blue>a:focus, .ace-nav>li.light-blue>a:hover, .ace-nav>li.open.light-blue>a{
    background: transparent;
}

.notiff_dropdown, .ace-nav>li.purple>a{
    background: transparent;
    color: #fff !important;
}

.notiff_dropdown .badge{

}

.ace-nav>li>a>.badge {
    position: relative;
    top: -13px;
    left: -9px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    height: 15px;
    background: #ff2929;
}
.no-skin .sidebar.menu-min .nav-list>li>a>.menu-text {
    background-color: #02395e;
}
/*
li.notiff_dropdown {
    position: absolute;
    top: -25px;
}*/

.ace-nav>li.open>a, .ace-nav>li>a:focus, .ace-nav>li>a:hover {
    background-color: #1084c3 !important;
    color: #FFF;
}
.user-info{
        padding-top: 10px;
}

.ace-nav {
    height: 100%;
    margin: 0!important;
    padding-top: 4px;
}

#breadcrumbs{
    margin-right: 0px;
    padding-right: 0px;
}

.action_buttons{
    list-style-type: none;  
    background-color: transparent;
    line-height: 20px; 
    font-size: 13px;
    color: #333;
    border-radius: 0;
    margin-top: 0px;
}


.action_buttons li{ 
    
    border-left: 1px solid #e0e0e0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.action_buttons li:last-child{
    border-right: 1px solid #e0e0e0;
}

.action_buttons a{
    display: table-cell !important;
    vertical-align: middle !important;
    color: #03436e;
    transition: .2s ease-in-out;
    text-align: center;
}

.action_buttons a:hover,
.action_buttons a:focus,
.action_buttons a:active{
    text-decoration: none;
    color: #058ad3;
}

.page-content{
    padding: 7px;
    width: 99%;
    padding-right: 0px;
}
.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child{
    background: transparent;
    border: 0px !important;
}


.page-content .row{
    margin-left: -8px;
    margin-right: -10px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.table>thead>tr{
    background: #30a137;
    background-color: #30a137; 
    
}

.dataTable>thead>tr>th[class*=sorting_]{
    color: #fff;
    transition: .2s ease-in-out;
}

.dataTable>thead>tr>th[class*=sort]:hover{
    color: #fff;
    text-shadow: 0px 0px 1px black;
}

.action_buttons>li+li:before{
    display: none !important;
}

.dataTable>thead>tr>th.sorting_asc, .dataTable>thead>tr>th.sorting_desc {
    background-image: -webkit-linear-gradient(top,#30a137 0,#30a137 100%);
    background-image: -o-linear-gradient(top,#EFF3F8 0,#E3E7ED 100%);
    background-image: linear-gradient(to bottom,#007f08 0,#30a137 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',endColorstr='#ffe3e7ed',GradientType=0);
}


.dataTable>thead>tr>th{
    border-right: 1px solid #fff;
}
.dataTable>thead>tr>th[class*=sort]:after{
    color: #fff;

}
.dataTables_wrapper .row:first-child+.dataTable {
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
}

.dataTable tbody > tr{
    background: #f6f7f8;
    transition: .2s ease-in-out;
}
.dataTable tbody > tr:hover{
    background: #d0f9d2;
}

.patient_profile{
    padding: 0px;
    text-align: center;
    display: table;
}

.patient_profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px #fff !important;
    box-shadow: 0px 0px 0px 1px #d7d7d7;
}

.patient_personal_info .panel-heading{
    float: left;
    width: 100%;
    background: #fff;
    padding-bottom: 25px;
    padding-top: 25px;
    border-color: #eaebed;
}

.panel-default {
    border: none;
}

.patient_profile_name{
    
}
.patient_profile_name h3{    
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #058ad3;
    margin-top: 5px; 
}
.patient_profile_name h1{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #058ad3;    
    margin-top: -3px;
}

.patient_personal_info .panel-body{
    padding: 15px;
}

.patient_personal_info .panel-body span{
    float: left;
    width: 100%;
}
.patient_personal_info .panel-body b{
    color: #000;
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
}
.patient_personal_info .panel-body small{
    float: left;
    width: 100%;
    color: #058ad3;    
}
.patient_personal_info .panel-body .p0{
    margin-top: 10px;
}
.patient_personal_info .panel-body small b{
    color: #058ad3; 
    font-size: 11px;
    font-weight: bold;
    margin-top: 7px;
}

.patient_personal_info .panel-body table b{
    margin-top: 0px !important;
}
.contact_no{
    font-size: 17px !important;
}

.user-menu.dropdown-menu.dropdown-close {
    top: 100% !important; 
    min-width: 100%;
    right: 0px;
}

.patient_personal_info2 span,
.patient_personal_info2 span small,
.patient_personal_info2 span b{
    float: left;
    width: 100%;
}


.patient_personal_info2 span small > b{
    font-size: 15px;
    color: #058ad3;
    font-weight: bold;
}
.patient_personal_info2 span b{
    font-weight: normal;
    font-size: 11pt;
}

.patient_personal_info2 .panel-body{
    padding: 0px;
}

.patient_personal_info2 span{
    padding: 15px;
    background: #f2f3f4;    
    border-bottom: 1px solid #fff;
}

.patient_personal_info2 span:last-child{
    border-bottom: 0px solid !important;
}

.patient_personal_info2 h4 > b{
        color: #5f5f60;
}


.patient_personal_info2 .panel-heading{
    background-color: #ffffff;
}

.patient_name{
    color: #5d5d5e;
    margin-top: 0px; 
}

.name_buttons{
    border: 0px;
    background: transparent;    
    float: right;
    font-size: small;
    margin-top: 12px;
}
.add_med_rec_btn{
    font-weight: bold;
    float: right;
    margin-bottom: 10px;
}

.btn-green-gradient{ 
    box-shadow: 0px 0px 7px 0px #1c5205;
    background-color: #68c56e; 
    border: 0px solid rgba(74, 177, 22, 0.41); 
    cursor: pointer;
    color: #ffffff;   
    text-shadow: 0px 1px 0px #5b8a3c;
    background-image: -ms-linear-gradient(top, #67C26D 0%, #41ad48 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
    background-image: -moz-linear-gradient(top, #67C26D 0%, #41ad48 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
    background-image: -o-linear-gradient(top, #67C26D 0%, #41ad48 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #67C26D), color-stop(50, #67C26D), color-stop(51, #2DA134), color-stop(71, #2DA134), color-stop(100, #2da134));
    background-image: -webkit-linear-gradient(top, #67C26D 0%, #41ad48 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
    background-image: linear-gradient(to bottom, #67C26D 0%, #41ad48 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
    transition: .2s ease-in-out;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

.medical_records{
    float: left;
    width: 100%;
}
.medical_records.panel-group .panel-heading .accordion-toggle:hover,
.medical_records.panel-group .panel-heading .accordion-toggle:active, 
.medical_records.panel-group .panel-heading .accordion-toggle:focus,
.medical_records.panel-group .panel-heading .accordion-toggle ,
.medical_records.panel-group .panel-heading .accordion-toggle.collapsed {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #2c9f33 !important;
    border-radius: 3px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

.medical_records.panel-group .panel{
    background: #fff;
}

.medical_records.panel-group .panel-heading+.panel-collapse .panel-body{
    border-color: #fff !important;
}

.inner_text_body{
    padding: 0px !important;
    list-style-type: none;
    margin: 0px;
}

.inner_text_body li{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.inner_text_body li b{
    color: #1e5e83;
    font-weight: bold;

}

.inner_text_body li p{
    color: #4c4b4b; 
}
.medical_records.panel-group .panel+.panel {
    margin-top: 8px;
}

.addmodal .modal-header,
#addmodal .modal-header{
    background: #30a137;
    color: #fff;
}
.editmodal .modal-header,
#editmodal .modal-header{
    background: #1688da;
    color: #fff;
} 

.addmodal .row,
#addmodal .row{
    margin: 0px;
}

.editmodal .row,
#editmodal .row{
    margin: 0px;
}
.del-bootbox .modal-header{
    color: #fff;
    font-weight: bolder !important;
    background: #e4381b;
}
.has-feedback label~.form-control-feedback{
        right: 12.5px;
    top: 35px;
}

.btn-for-table{
    background: transparent;
    border: 0px;
    color: #058ad3;
    font-weight: bold;
}
 
.btn-group.open .btn-for-table.dropdown-toggle{
    box-shadow: 0px 0px 0px 1px #058ad3;
}

.table-dropdown ul.dropdown-menu.dropdown-caret.dropdown-menu-right {
    min-width: 100px;
    padding: 0px;
    border-radius: 7px !important;
    border: 0px;
    box-shadow: 0px 0px 6px 1px darkgrey;
}

.table-dropdown li a{
    transition: .2s ease-in-out;
}

.table-dropdown li:hover a{
    background: #30a137 !important;
}
.table-dropdown li:first-child a{
    border-top-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
}
.table-dropdown li:last-child a{
    border-bottom-right-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}
.table-dropdown ul.dropdown-menu.dropdown-caret.dropdown-menu-right:after{
    right: 6px;
    top: -6px;  
}
.table-dropdown ul.dropdown-menu.dropdown-caret.dropdown-menu-right:before{
    right: 5px;
    top: -7px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: 1px solid #fff;
}

.chosen-container-single .chosen-single{
    border-radius: 0px !important;
    height: 34px !important;
    padding-top: 4px !important;
    background: #fff !important;
}

.gritter-close{
    right: 0px !important; 
}

.setting_btn{  
    padding: 2px;
    height: 25px;
    width: 25px;
    text-align: center;
    position: relative;
    top: 0px;
    margin-left: -25px;
    right: 0px;
    color: #5d5d5e !important;
}

.setting_btn i{
    margin-right: 0px;
    color: #5d5d5e !important;
}

.sb2_btn{
    float: right !important;
    top: -5px !important; 
}

.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:focus, .no-skin .nav-list>li.active>a:hover {
    background-color: #02395e;
}

.nav-list li.active>a:after{
    display: none;
}
.no-skin .nav-list>li.active:after{
    display: none;
}

.no-skin .nav-list li.active>a {
    font-weight: 700;
    color: #ffffff;
}

.note-editor .btn,   {
    background-color: #05609d !important;
    border-color: #05609d !important;
}

.no-skin .nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #05609d;
    color: #fff;

}
.no-skin .nav-list>li .submenu>li.active:not(.open)>a{
    box-shadow: -10px 0px 0px 0px #30a137 inset;   
}

.no-skin .nav-list>li .submenu>li > a{
    box-shadow: -10px 0px 0px 0px #02395e inset;    
    text-transform: none;
    font-weight: normal;
}
.no-skin .nav-list>li .submenu>li.active>a>.menu-icon {
    color: #C86139;
    display: none;
}

.nav-list li.submenu_li.active>a:after{
    display: block !important;
    top: 11px;
    border-width: 6px 6px;
    border-right-color: #ffffff !important;
    right: -1px;
}
.no-skin .nav-list>li.submenu_li.active:after{
    display: block !important;    
    top: 11px;
    border-width: 6px 6px;
    border-right-color: #ffffff !important;
}

.no-skin .nav-list>li .submenu>li.active:not(.open)>a:hover {
    background-color: #05609d;
}

.btn-big-app{
    width: 150px !important;
    padding: 30px 0 25px  !important;
    transition: .2s ease-in-out;
    margin: 10px !important;
}



@media (max-width: 998px) {
    .navbar-brand b {
        position: absolute;
        font-size: 25px;
        top: 7px;
    }
    .navbar-brand small {
        position: absolute;
        font-size: 9px;
        top: 25px;
        left: 65px;
    }
    .navbar:not(.navbar-collapse) .ace-nav { 
        text-align: right;
        border-width: 0px 0 0;
        padding-bottom: 4px;
    }
    .action_buttons{
        margin-right: 1px;
    }
}


.drp_pnl{

    position: absolute;
    /* right: -96%; */
    z-index: 2;
    color: #fff !important;
    right: 25px;
    margin-top: 6px;
}
.drp_pnl button{
    color: #fff;
    font-size: large;
}

.modal-dialog{
    left: 0% !important;
}


.dtr-data{
  white-space: normal;
}




@media (max-width: 800px) {
    .dataTables_wrapper  .col-xs-6{
        width: 100%;
    }
    .dataTables_wrapper  .dataTables_length{
        text-align: left;
    }
   div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter{
        text-align: left;
    }
    div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate{
        text-align: center;
    }

}
@media (max-width: 680px) {
    .ppt1{
        text-align: center;
    }
    .ppt1 .patient_profile{
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-scroll-up{
        right: 10px;
    }
}

.addappointment_btn{
    color: #1daa2f;
    margin-top: 5px;
}

.addappointment_btn:hover{
    text-decoration: none;
}


.trans-rt-45{
      transform: rotate(45deg);
}

.avatar-view{
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 0px 0px 0px 1px #ccc;
}
.doc_holder .row{
    border-bottom: 1px solid #eee; 
    padding-top: 10px !important;
}

.color-b{
    color: #000 !important;
}


.modal-header .close{
  color: #f00;
    opacity: 1;
    background: rgb(255, 255, 255);
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 21px;
}
.modal-open .modal {
    background: rgba(0, 0, 0, 0.85);
}

input[type=checkbox].ace.ace-switch.ace-switch-7+.lbl::before{
    content: "HIDE\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0SHOW";
    font-size: 10px;
}

input[type=checkbox].ace.ace-switch.ace-switch-7+.lbl::after,
input[type=checkbox].ace.ace-switch.ace-switch-7+.lbl::after{
    height: 21px;
    left: 40px
}
input[type=checkbox].ace.ace-switch.ace-switch-7:checked+.lbl::before {
    color: #468FCC;
    background-color: #FFF;
    text-indent: -28px;
    border-color: #6FB3E0;
    padding-left: 4px;
}
.profile-activity .time {
    display: block;
    margin-top: 4px;
    color: #777;
    text-align: right;
}