.cld-main{
  width: 100%;
}
.cld-main a{
  color: #333;
  font-weight: bold;
}
.cld-datetime{
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.cld-datetime .today {
    /* position: relative; */
    /* float: left; */
    /* width: calc(94% - 40px); */
    /* margin: 0 auto; */
    /* text-align: center; */
    display: inline-block;
    display: inline-block;
    color: #058ad3;
    font-size: 30pt;
}
.cld-nav {
    position: relative;
    width: 150px;
    height: 20px;
    margin-top: 2px;
    font-size: 20px;
    padding-top: 15px;
    color: #c5c5c5;
    font-weight: lighter;
}

.month_nav{
  padding-left: 5px;
  padding-right: 5px;
}

.cld-nav:hover{
  cursor: pointer;
}
.cld-nav:hover svg{
  fill: #566;
}
.cld-rwd{
  float: left;
}
.cld-fwd{
  float: right;
}
.cld-nav svg:hover{

}
.cld-labels, .cld-days{
  padding-left: 0;
  padding-left: 0;
  margin: 0px;
  height: 40px;
  text-transform: uppercase;
}
.cld-label{
    height: 27.5px;
    padding-top: 12.5px;
    font-weight: bold;
}
.cld-label, .cld-day{
    display: inline-block;
    width: 14%;
    text-align: center; 
}

.cld-day{
    min-height: 80px;
    box-shadow: 0px 0px 0px 2px #fff;
    background: #e4f2fa; 
} 
.cld-day.disableDay{
  opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
  opacity: 0.33;
}
.cld-number {
    position: relative;
    margin: 5px;
    text-align: right;
    padding: 10px;
}
.cld-title{
    position: absolute;
    z-index: 5;
    display: none;
    top: 0px;
    left: 0;
    padding: 5px 10px;
    /* background: #fff; */
    white-space: normal;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    text-decoration: none;
    font-size: 10px;
    /* line-height: 140px; */
    text-align: center; 
}
.cld-title a{
  text-decoration: none;
}
.cld-title b{
  color: #ff4747 !important;
  font-weight: bold;    
  font-size: xx-large;
}
.cld-number .cld-title{
  display: block;
}
/*.cld-title::before{
  content: '';
  position: absolute;
  top: -7.5px; left: 7.5px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;

  border-bottom: 7.5px solid #ccc;
}*/
.cld-day.today{ 
    background: #b1f8ff;
}
.cld-number.eventday {
  display: inline-block;
    height: 80px;
    margin-left: 0px !important;
    padding-left: 0px;
    top: -5px;
    margin-bottom: -5px;
    box-shadow: 0px 0px 0px 1px #feb0c9 inset;
}
.today .eventday{
    box-shadow: 0px 0px 0px 2px #ff4747 inset;

}
.cld-number.eventday:hover{
  cursor: pointer;
  background: #eee;
}
.today .cld-number.eventday:hover{
/*  background: #888;*/
}


.month_nav{
  text-transform: uppercase;
}

.page-content{
      min-height: 115vh;
}

.cal_top_head{
      margin-top: 100px;
      padding-left: 50px;
}

.cal_top_head img{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  margin-left: -55px;
}

.cal_top_head small{
  color: #078bd3;
    font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
    float: left;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.cal_top_head h2{
  color: #f13c3c;
  float: left;
  width: 100%;
    text-align: left;
    margin: 0px;
}

.cal_content{
    width: 100%;
    float: left;
    text-align: right;
    padding: 0px;
    padding-top: 10px;
}


.cal_content > ul{
  padding: 0px;
  list-style-type: none;
    width: 100%;
    margin: 0px;
    max-height: 430px;
    overflow: auto;
}



.cal_content > ul > li{
    float: left;
    min-height: 70px;
    background: #fcf8e3;
    width: 100%;
    padding-top: 5px;
    text-align: left;
    margin-bottom: 1px;
    box-shadow: 0px 1px 0px 0px #a9a9a9;
}

.cal_content > ul > li:last-child{
  box-shadow: 0px 0px 0px 0px;  
}
.cal_content > ul > li > i{
    /*position: absolute;*/
    left: 0px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #e6e1c5;
    float: left;
    margin-bottom: -45px;
}

.appointments_content{
  float: left;
  width: 100%;
  padding-left: 45px;
  padding-top: 10px;
}

.appointments_content b{
  color:#f13c3c;
}

.appointments_content i{
  font-style: normal;
    font-size: smaller;
    font-weight: bold;
}

.setting_btn{
    top: 0px; 
    right: 0px; 
    margin-top: -85px;
    opacity: 0;
    transition: .2s ease-in-out;
}
.cal_content > ul > li:hover .setting_btn{
  opacity: 1; 
}

.cal_content > ul > li:hover{
  cursor: pointer;
}

/*.cal_top_head__1{
  display: none;
}*/

@media (max-width: 768px) {
  .cld-labels > .cld-label{
    font-size: 10px ;
  }
  .cld-datetime .today{
    font-size: 20pt;
  }
  .cld-nav{
    font-size: 15px;
    padding-top: 10px;
    width: 60px;
  }
  .cld-title b{
    font-size: large;
  }
  .cal_top_head{
    margin-top: 40px;
  }
  .cal_top_head__{
    padding-left: 10px !important;
    /*display: none;*/
  }
  /*.cal_top_head__1{
    display: block;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px !important;
  }

  .cal_top_head__1 .cal_top_head{
    margin-top: 10px;
  }*/
}
