.left, .right, .main{
			min-height: 100vh;
		}
		.main{
			background-image: url('/tmpl/images/login-bg.png'); 
			background-size: 80% 100%;
    		background-repeat: no-repeat;
    		padding: 0px;
		}
		.right{
			background-image: url('/tmpl/images/login-bg2.png'); 
			background-size: 100% 100%;
    		background-repeat: no-repeat;
    		padding: 0px;
		}
		.left{
			padding: 0px;	
		}
		.right:before{
			content: "";
		    width: 0;
		    height: 0;
		    border-top: 35px solid transparent;
		    border-right: 25px solid #f9f9fb;
		    border-bottom: 35px solid transparent;
		    position: absolute;
		    left: -20px;
	        top: 145px;
		}
		body, html, div{
			font-family: 'Open Sans', sans-serif;
		}
		.center_text{
			color: #fff;
			margin-top: 100px;
		    font-size: 12pt;	
		}

		.center_text span{
			float: left;
			text-align: center;
			width: 100%;
		}

		.center_text span:first-child{
			margin-bottom: 15px;
		}

		.center_text b{
		    font-size: 60pt;
	        line-height: 1em;
		}
		.bottom_text{
		    bottom: 40px;
		    position: absolute;
		    color: #fff;
			width: 100%;
		}
		.social-media{
		    text-align: center;
		    display: table;
		}

		.social-media div{
			display: table-cell;
		}

		.social-media a{
			color: #0082d1;
			width: 40px;
		    height: 40px;
		    vertical-align: middle;
		    background: #fff;
		    border-radius: 50%; 
		    padding: 8px;
		    float: left;
		    font-size: large;
		}

		.social-media a:hover, 
		.social-media a:active{
			color: #0082d1;
			text-decoration: none;
		}
		.social-media ul {
			list-style-type: none;
		    text-align: center;
		    display: inline-block;
		    padding: 0px;
		}
		.social-media ul li{
			float: left;
			margin: 5px;
		}
		footer{
			font-weight: 300;
    		font-size: 13pt;
		}

		.right img{
			height: 100px;
		}

		.form-horizontal .form-group{
			margin-left: 0px;
			margin-right: 0px;
		}

		.login-form{
			margin-top: 50px;
		}

		.login-form .form-group{
			text-align: center;
		}


		.login-form .form-group input{
		    display: inline-block;
		    width: 85%;
		    border-radius: 0px 0px 0px;
		    height: 50px;
		    text-align: center;
	        font-size: large;
		    font-weight: 500;
		    color: #000;
		}


		.login-form .form-group input:hover,
		.login-form .form-group input:focus,
		.login-form .form-group input:active{
			border: 2px solid #0088d2;
		}

		.btn{
			
		    width: 85%;
		    margin-top: 30px;
		    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
		    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
		    box-shadow: 0px 8px 0px -5px #1c5205;
		    background-color: #68c56e;
		    -moz-border-radius: 42px;
		    -webkit-border-radius: 42px;
		    border-radius: 42px;
		    border: 0px solid rgba(74, 177, 22, 0.41);
			display:inline-block;
			cursor:pointer;
			color:#ffffff; 
			font-size:20px;
			font-weight:600;
			padding:16px 62px;
			text-decoration:none;
			text-shadow:0px 1px 0px #5b8a3c;
			/* IE10+ */ 
			background-image: -ms-linear-gradient(top, #67C26D 0%, #67C26D 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);

			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, #67C26D 0%, #67C26D 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);

			/* Opera */ 
			background-image: -o-linear-gradient(top, #67C26D 0%, #67C26D 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #67C26D), color-stop(50, #67C26D), color-stop(51, #2DA134), color-stop(71, #2DA134), color-stop(100, #2da134));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, #67C26D 0%, #67C26D 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);

			/* W3C Markup */ 
			background-image: linear-gradient(to bottom, #67C26D 0%, #67C26D 50%, #2DA134 51%, #2DA134 71%, #2da134 100%);
			transition: .2s ease-in-out;
		}


		.btn:hover,
		.btn:focus,
		.btn:active{
			color: #fff;
			/* IE10+ */ 
			background-image: -ms-linear-gradient(top, #81F288 0%, #5CAD61 50%, #2DA134 51%, #2DA134 71%, #2DA134 100%);

			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, #81F288 0%, #5CAD61 50%, #2DA134 51%, #2DA134 71%, #2DA134 100%);

			/* Opera */ 
			background-image: -o-linear-gradient(top, #81F288 0%, #5CAD61 50%, #2DA134 51%, #2DA134 71%, #2DA134 100%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81F288), color-stop(50, #5CAD61), color-stop(51, #2DA134), color-stop(71, #2DA134), color-stop(100, #2DA134));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, #81F288 0%, #5CAD61 50%, #2DA134 51%, #2DA134 71%, #2DA134 100%);

			/* W3C Markup */ 
			background-image: linear-gradient(to bottom, #81F288 0%, #5CAD61 50%, #2DA134 51%, #2DA134 71%, #2DA134 100%);
		
		    box-shadow: 0px 8px 15px -5px #1c5205;
		}

		h4{
			margin-top: 30px;

			color: #000;
		}

		.help-block{ 
		}

		.has-error .form-control{
			border-width: 2px;
		}

.slogan{
	font-family: 'Mitr', serif;
	font-size: 20px; 
	padding-top: 20px;    
	letter-spacing: 0.05em; 
}


@media (max-width: 998px) {
	.left{
		width: 100% !important;
		min-height: 100vh;
	}
	.main {
		background-size: 175% 100%;
		min-height: 105vh;
	}
	.social-media{
		width: 100% !important;
	}
	.right {
	    top: 1px;
	    position: absolute;
	    width: 90%;
	    background: rgba(255, 255, 255, 0.13);
	    margin-top: 5%;
	    margin-left: 5%;
	    min-height: 100vh;
	    padding-top: 225px;
	}

	.right img{
		opacity: 0;
	}
	.right:before{
		display: none;
	}
	.right h4 > a{
		color: #fff;
    	font-size: 40px;
	}
	.center_text {
	    color: #fff;
	    margin-top: 100px;
	    font-size: 40pt;
	}
	.center_text b {
	    font-size: 125pt;
	    line-height: 1em;
	}
	.login-form .form-group input {
	    display: inline-block;
	    width: 85%;
	    border-radius: 0px 0px 0px;
	    height: 90px;
	    text-align: center;
	    font-size: 40px;
	    font-weight: 500;
	    color: #000;
	    margin-top: 20px;
	}
	.btn{
		font-size: 50px;
		margin-top: 70px;
	}
	.slogan{ 
		font-size: 40px;  
	}
}

@media (max-width: 498px) {

	.right {      
	    width: 90%;
	    margin-left: 5%;
	    min-height: 125vh;
	    padding-top: 25px;
	}

	.main {
		background-size: 205% 100%;
		min-height: 105vh;
	}
}