.nav_title{
	background-color: #096bb1 !important;
	height: 95px;
    padding-top: 15px;
}
body{
  background-color: #f7f7f7;
}
.profile{
	background: #0d7dba;
}

.dt-responsive>tbody>tr>td, .dt-responsive>tbody>tr>th, .dt-responsive>tfoot>tr>td, .dt-responsive>tfoot>tr>th, .dt-responsive>thead>tr>td, .dt-responsive>thead>tr>th {
 
    border-top: 0px solid #ddd;
}
.img-circle.profile_img {
    margin-top: 5px;
}
.profile_info{
    padding: 10px 0px 10px;
    width: 65%;
    float: left;
    color: #ffffff;
}
.profile_info > span{
	color: #ffffff;
}

.profile_info h2 {
	color: #ffffff;
	font-weight: bold;
}
.menu_section>ul{
	margin-top: 0px;
	border-top: 1px solid #fff;
}

.left_col{
	background: #0d7dba;
}

.nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#0a6cb2, #1b89c5),#1884c2;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
}

.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: #ffffff;
    font-weight: 500;
}

.nav_menu {
    background: #202a31;
}
.toggle a{
	color: #ffffff;
}

.nav.navbar-nav>li>a{
	color: #ffffff !important;
	font-weight: bold;
}
.top_nav .nav>li>a{
	transition: .2s ease-in-out;
}
.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: #000000;
    transition: .2s ease-in-out;
}
.nav.side-menu > li > a {
    margin-bottom: 0px;
}

.circle-pic img{
    background: #c8c6c6 !important;
    border: 2px solid #ffffff !important;
    border-radius: 50% !important;
    padding: 0px !important;
}

.navbar-left > li > input { 
    margin-top: 6.5px;
    margin-left: 13px;
    padding: 2px;
    padding-left: 8px;
    border: 0px;
    background: transparent;
    box-shadow: 0px 0px 0px 1px #b2b9bd;
    border-radius: 3px;
    margin-right: 5px;
    width: 240px;
    transition: .2s ease-in-out;
}

.navbar-left > li > input:active, 
.navbar-left > li > input:focus, 
.navbar-left > li > input:hover {
  box-shadow: 0px 0px 0px 1px #49bfff, 0px 0px 5px 0px #7cd1ff;
  background: #ffffff;
}
/*===============================================
  D. Padding Helpers
================================================= */
.pn {
  padding: 0 !important; }

.p1 {
  padding: 1px !important; }

.p2 {
  padding: 2px !important; }

.p3 {
  padding: 3px !important; }

.p4 {
  padding: 4px !important; }

.p5 {
  padding: 5px !important; }

.p6 {
  padding: 6px !important; }

.p7 {
  padding: 7px !important; }

.p8 {
  padding: 8px !important; }

.p10 {
  padding: 10px !important; }

.p15 {
  padding: 15px !important; }

.p20 {
  padding: 20px !important; }

.p25 {
  padding: 25px !important; }

.p30 {
  padding: 30px !important; }

.p35 {
  padding: 35px !important; }

.p40 {
  padding: 40px !important; }

.p50 {
  padding: 50px !important; }

.ptn {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.prn {
  padding-right: 0 !important; }

.pr5 {
  padding-right: 5px !important; }

.pr10 {
  padding-right: 10px !important; }

.pr15 {
  padding-right: 15px !important; }

.pr20 {
  padding-right: 20px !important; }

.pr25 {
  padding-right: 25px !important; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px !important; }

.pr40 {
  padding-right: 40px !important; }

.pr50 {
  padding-right: 50px !important; }

.pbn {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pln {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px !important; }

.pl10 {
  padding-left: 10px !important; }

.pl15 {
  padding-left: 15px !important; }

.pl20 {
  padding-left: 20px !important; }

.pl25 {
  padding-left: 25px !important; }

.pl30 {
  padding-left: 30px !important; }

.pl35 {
  padding-left: 35px !important; }

.pl40 {
  padding-left: 40px !important; }

.pl50 {
  padding-left: 50px !important; }

/*===============================================
  E. Margin Helpers
================================================= */
.mn {
  margin: 0 !important; }

.m1 {
  margin: 1px !important; }

.m2 {
  margin: 2px !important; }

.m3 {
  margin: 3px !important; }

.m4 {
  margin: 4px !important; }

.m5 {
  margin: 5px !important; }

.m8 {
  margin: 8px !important; }

.m10 {
  margin: 10px !important; }

.m15 {
  margin: 15px !important; }

.m20 {
  margin: 20px !important; }

.m25 {
  margin: 25px !important; }

.m30 {
  margin: 30px !important; }

.m35 {
  margin: 35px !important; }

.m40 {
  margin: 40px !important; }

.m50 {
  margin: 50px !important; }

.mtn {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mrn {
  margin-right: 0 !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr50 {
  margin-right: 50px !important; }

.mbn {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mln {
  margin-left: 0 !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml50 {
  margin-left: 50px !important; }

.trans-rt-45{
      transform: rotate(45deg);
}
  .c-orange{
    color: #ff5c00;
  }
  .c-blue{
    color: #0094ff;
  }
  .circle_icon{

  }

  .action_btns{
    margin-left: 20px;
  }

.theme-table{
  background: #ffffff;
  margin-top: 20px;
}
.theme-table{
  border: 0px;
}
.theme-table > thead > tr > th{
  background: #096bb1 ;
  border: 2px solid;
}
.theme-table > tbody > tr > td{
  color: #2a333a;
  border-right: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}



.theme-table-edit > thead > tr > th:last-child,
.theme-table-edit > tbody > tr > td:last-child {
    background: #f7f7f7;
    border: 0px;
}

.paginate_button.current{
  color: #ff5c00; 
}

.btn-flat{
  border-radius: 0px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    height: 152px;
}

.thumbnail img{ 
  height: 142px;
}

.caption {
    cursor: pointer;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(9, 107, 177, 0.76);
    width:100%; 
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.fc-head, .fc-body{
  background-color: #fff;
}
.fc-head{
  color: #fff;
  background-color: #096bb1;
}
.fc-event{
  border-radius: 0px !important;
  border: 0px !important;
}

.fc-other-month{
  background: #ebebeb;
}

.fc-today {
    background: #fcf8e3;
    color: black;
}

.fc-content{
  background: #096bb1;
  box-shadow: 0px 0px 1px 0px #fff;
}

.fc-day-grid-event{
  margin-top: 0px !important;
}


/** FONT COlORS **/
.c-red{
  color: red;
}

/** COLOR **/



.dashboard_menu{
    margin: 0 auto;
    float: left;   
    height: 5%; 
    text-align: center;
    padding: 5% 0px 5%;
    font-size: 15px;
    background: transparent; 
    color: black;
    transition: .5s ease-in-out;
    width: 200px;     
    box-shadow: 0px 0px 0px 1px #ddd;
    margin: 10px;
    cursor: pointer;
    list-style-type: none; 
}


.dashboard_menu i{
  font-size: 25px;
}

.dashboard_menu.active{
  color: #096bb1;
}
.dashboard_menu:hover{
  color: #fff !important;
    background: #888888; 
}

.action_group{
    display: none;
    padding-top: 5px;
  }
@media (max-width: 769px) {
  .action_group{
    display: block;
  }
  .hide_md{
    display: none;
  }
  .top_nav .dropdown-menu li a {
      width: 100%;
      padding: 0px 10px;
  }
  .open>.dropdown-menu {
      display: block;
      margin-top: 33px;
  }
}

@media (max-width: 540px){
  .dashboard_menu_{
    padding-top: 10px !important;
  }
  .dashboard_menu_ ul{
    padding-left: 0px;
    -webkit-  padding-start: 0px;
  }
  .dashboard_menu {
    margin: 0 auto;
    float: none;
    height: 5%;
    text-align: center;
    padding: 5% 0px 5%;
    font-size: 15px;
    background: transparent;
    color: black;
    transition: .5s ease-in-out;
    width: 200px;
    box-shadow: 0px 0px 0px 1px #ddd;
    margin: 10px;
    cursor: pointer;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 15px;
}
}
@media (max-width: 769px) {
 table, td, tr, th, tbody, tfoot{
    font-size: 12px !important;
  }
  td.child ul{
        padding-left: 5px;
  }
  td.child{
    padding-left: 20px;
  }
  table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child{
    padding-left: 20px !important;
  }
}
@media (max-width: 515px){
  .dataTables_length, .dataTables_filter{
    width: 100%;
    text-align: left;
  }
  
}
@media (max-width: 400px){

  .navbar-left > li > input { 
    width: 195px;
  } 
}


.dtr-data{
  white-space: normal;
}

div.dataTables_paginate {
    text-align: center !important;
}


@media (max-width: 799px){
  ul.bar_tabs > li a{ 
    margin-bottom: 10px;
  }
  ul.bar_tabs > li {
    width: 100%;
    margin-left: 0px;
  }
  ul.bar_tabs{
    margin-bottom: 125px;
  }
}
.theme-table-edit .fa-edit, .theme-table-edit .fa-edit {
    transition: .2s ease-in-out;
}
/*.theme-table-edit .fa-edit:hover, .theme-table-edit .fa-edit:focus {
    background: #0fb9de;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
}*/
.close{
  color: #f00;
  opacity: 1;
  transition: .2s ease-in-out;
}

.close:hover,
.close:focus{
    color: #f00;
    text-shadow: 0px 0px 1px #a00000;
    opacity: 1;
}


.modal-header .close{
  color: #f00;
    opacity: 1;
    background: rgb(255, 255, 255);
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 21px;
}

input[type=checkbox].ace.ace-switch .lbl::before{
  content: "HIDE\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0SHOW";
}